<div class="space-page padded">
  <ul class="list-inline text-center">
    <% ["jacquouille", "damien"].each do |member| %>
      <li>
        <%= image_tag "#{member}.png", class: "img-circle" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>
</div>

